.mat-column-item {
  width: 400px;
  text-align: center;
  padding-top: 15px;
}

.mat-column-price {
  width: 400px;
  text-align: center;
  padding-top: 15px;
}

.mat-column-quantity {
  width: 400px;
  text-align: center;
  padding-top: 15px;
}

.mat-column-edit {
  width: 400px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mat-header-cell {
  text-align: center;
}

.mat-footer-cell {
  padding-top: 15px;
}

.mat-button, .mat-flat-button, .remove-button {
  background-color: red;
  color: white;
}

.mat-button, .mat-raised-button, .checkout-button {
  background-color: royalblue;
  color: white;
}
