.mat-form-field{
	padding: 50px;
}
.mat-table{
	
	 z-index: -1;
}

#dateinput{
	left:0px;
	display: inline-block !important;
	width: 250px;
	text-align: center;
	margin-top: 20px;
}

.mat-table[_ngcontent-c7]{
	min-height: 300px;
}

#mySummaryCard {
  background-color: antiquewhite;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex: 1;
  flex-direction: column;
}
#myAccount {
  text-align: center;
}