<button mat-button (click)="goBack()">
  <mat-icon> arrow_back </mat-icon>
  <mat-icon> arrow_back </mat-icon>
  <mat-icon> arrow_back </mat-icon>
</button>
<mat-table [dataSource]="menuItems" matSort>
  <ng-container matColumnDef="Name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.Name }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="Description">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.Description }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="Calories">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Calories</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.Calories }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="Price">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Price</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.Price | currency }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="Quantity">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element; let row;">
      <mat-form-field class="rowQuantity">
        <input type="number" matInput placeholder="Enter quantity..."
               [(ngModel)] = row.Quantity>
      </mat-form-field>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Add">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element; let row;">
      <button mat-raised-button (click)="addToCart(row, row.Quantity)">Add to cart</button>
    </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
