@import url('https://fonts.googleapis.com/css?family=Roboto');

h1 {
  color: black;
  margin-top: 0;
  padding-bottom: 2%;
  padding-top: 2%;
}

.login-card {
  margin: auto;
}

.mat-tab-label {
  width: 15%;
}

.mat-row:hover {
  background-color: gainsboro;
  cursor: pointer;
}

.mat-cell {
  text-align: left;
  padding: 1%;
}

.mat-button, .mat-raised-button, .login-button {
  background-color: royalblue;
  color: white;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

body {
  margin: 0;
}

#appHeader {
  background-image: linear-gradient(to bottom, lightcyan, white);
  margin-bottom: 30px;
}

html * {
  font-family: 'Roboto', sans-serif;
}
