h1 {
  color: black;
  font-family: Arial;
}

.login-card {
  margin: auto;
}

.mat-tab-label {
  width: 15%;
}

.mat-row:hover {
  background-color: gainsboro;
  cursor: pointer;
}

.mat-cell {
  text-align: left;
  padding: 1%;
}

.mat-button, .mat-raised-button, .login-button {
  background-color: royalblue;
  color: white;
}
