<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <h1 style="padding-bottom: 5%">
    Humongous
  <span style="color: royalblue">
    Yeets
  </span>
  </h1>

  <div *ngIf="!loggedin" style="text-align: center">
    <mat-card class="login-card" style="width: 40%; background-color: #F5F5F5; padding-top: 2%">

      <mat-card-header style="display: inline-block;">
        <mat-card-title><b style="font-size: 25px;">Welcome</b></mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <form class="login">
          <table style="margin: auto" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="username">
                  <input matInput placeholder="Username"
                         [(ngModel)]="username" name="username"
                         required
                         style="font-size:18px;">
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="password">
                  <input matInput placeholder="Password"
                         (keydown.enter)="login()"
                         [(ngModel)]="password"
                         type="password"
                         name="password"
                         required style="
                         font-size:18px">
                </mat-form-field>
            </tr></table>
        </form>
      </mat-card-content>

    <mat-card-actions style="padding-bottom:5%">
      <button mat-raised-button (click)="login()" class="login-button">Login</button>
    </mat-card-actions>

    </mat-card>
  </div>

  <div *ngIf="loggedin" style="padding-left:10%;padding-right:10%;">
    <mat-tab-group>
      <mat-tab style="width:20%">
        <ng-template mat-tab-label>
          <span style="padding-right: 10px; font-size: 18px">
            Browse Restaurants
          </span>
          <mat-icon> fastfood </mat-icon>
        </ng-template>
        <app-browse></app-browse>
      </mat-tab>
      <mat-tab class="nav-tab">
        <ng-template mat-tab-label>
          <span style="padding-right: 10px; font-size: 18px">
            Previous Orders
          </span>
          <mat-icon> history </mat-icon>
        </ng-template>
        <app-orders></app-orders>
      </mat-tab>
      <mat-tab class="nav-tab">
        <ng-template mat-tab-label>
          <span style="padding-right: 10px; font-size: 18px">
            My Account
          </span>
          <mat-icon> person_pin </mat-icon>
        </ng-template>
        <app-account></app-account>
      </mat-tab>
      <mat-tab class="nav-tab">
        <ng-template mat-tab-label>
          <span style="padding-right: 10px; font-size: 18px">
            Checkout
          </span>
          <mat-icon matBadge={{getNumItems()}}
                    [matBadgeHidden] = "getNumItems()==0"
                    matBadgeColor="warn">
            check_circle
          </mat-icon>
        </ng-template>
        <app-checkout [username]="username"></app-checkout>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>




