<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <h1>
    Humongous Yeets
  </h1>

  <div *ngIf="!loggedin">
    <mat-card class="login-card" style="width: 50%;">

      <mat-card-header style="display: inline-block;">
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>

      <mat-card-content style="margin: 0 auto; width: 40%;">
        <form class="login">
          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="username">
                  <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="password">
                  <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
                </mat-form-field>
            </tr></table>
        </form>
      </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button (click)="login()" color="primary">Login</button>
    </mat-card-actions>

    </mat-card>
  </div>

  <div *ngIf="loggedin">
    <mat-tab-group>
      <mat-tab label="Browse">
        <app-browse></app-browse>
      </mat-tab>
      <mat-tab label="Order">
        <app-orders></app-orders>
      </mat-tab>
      <mat-tab label="Account">
        <app-account></app-account>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>




