
<div *ngIf="!restaurantSelected">
  <mat-form-field class="restaurantName">
    <input matInput placeholder="Restaurant name..."
           (keydown.enter)="searchRestaurants()"
           [(ngModel)]="restaurantName" name="restaurantName"
           required
           style="font-size:18px;">
  </mat-form-field>
  <mat-table [dataSource]="restaurants" matSort matSortActive="Rating" matSortDirection="desc">
    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.Name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Location">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Location</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.Location }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Category">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Category</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.Category }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Rating">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Rating</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.Rating }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="DeliveryFee">
      <mat-header-cell *matHeaderCellDef mat-sort-header>DeliveryFee</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.DeliveryFee | currency }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns" (click)="selectRestaurant(row)"></mat-row>
  </mat-table>
</div>
<div *ngIf="restaurantSelected">
  <app-menu [restaurantID]="selectedRestaurantID" [deliveryFee]="deliveryFee" (onBack)="disableMenu()"></app-menu>
</div>

