<div *ngIf="usertype == 'customer'">
    <div id="myAccount">
      <mat-card id="myAccountCard" >
        <mat-card-title>Hello, {{ username }}</mat-card-title>
        <mat-form-field class="password">
          <input matInput placeholder="Password"
                 [(ngModel)]="user['CustomerPassword']"
                 type="password"
                 name="password">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Enter new email address"
                 [(ngModel)]="user['EmailAddress']" name="emailAddress"
                 style="font-size:18px;">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Enter new phone number"
                 [(ngModel)]="user['PhoneNumber']" name="phoneNumber">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Enter new address"
                 [(ngModel)]="user['Address']" name="address"
                 style="font-size:18px;">
        </mat-form-field>
        <button id="updateAccountButton" mat-raised-button (click)="updateAccount()" color="primary">Update</button>
      </mat-card>
    </div>
</div>


<div *ngIf="usertype == 'restaurant'">
  <div id="myRestaurant">
    <mat-card id="myRestaurantCard">
      <mat-card-title>Hello, owner of {{ username }}</mat-card-title>
      <mat-form-field class="password">
        <input matInput placeholder="Password"
               [(ngModel)]="user['RestaurantPassword']"
               type="password"
               pattern="[0-9]*"
               name="password">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Enter new location"
               [(ngModel)]="user['Location']" name="location">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Enter new category"
               [(ngModel)]="user['Category']" name="category">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Enter new delivery fee"
               type="number"
               [(ngModel)]="user['DeliveryFee']" name="deliveryFee">
      </mat-form-field>
      <button id="updateAccountButton" mat-flat-button (click)="updateRestaurant()" color="primary">Update</button>
    </mat-card>
    <div id="myRestaurantMenu">
      <button id="populateAndShowMenu" mat-button (click)="populateAndShowMenu()" color="primary">Show Menu</button>
      <div *ngIf="showMenu">
        <mat-table [dataSource]="menuItems" matSort matSortActive="Rating" matSortDirection="desc">
          <ng-container matColumnDef="Name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <input matInput placeholder="Name" [(ngModel)]="row.Name" name="category"></mat-cell>
          </ng-container>

          <ng-container matColumnDef="Description">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <input matInput placeholder="Description" [(ngModel)]="row.Description" name="category"></mat-cell>
          </ng-container>

          <ng-container matColumnDef="Calories">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Calories</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <input type = "number" matInput placeholder="Calories" [(ngModel)]="row.Calories" name="category"></mat-cell>
          </ng-container>

          <ng-container matColumnDef="Rating">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Rating</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.Rating }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="Price">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Price</mat-header-cell>
            <mat-cell *matCellDef="let row"><input type = "number" matInput placeholder="Price" [(ngModel)]="row.Price" name="category"></mat-cell>
          </ng-container>

          <ng-container matColumnDef="Update">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Update</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button id="updateMenuItem" mat-button (click)="updateMenuItem(row)" color="primary">Update</button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
      </div>
    </div>

  </div>
</div>
